@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #D93D04, #F28705, #F2B035);
    }

    #login {
        width: 80vw;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        padding: 10px 20px;
        float: right;
        width: 70%;

        text-align: justify;
    }

    #formulario h1 {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #D93D04, #F28705, #F2B035);
    }

    #login {
        width: 950px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        padding: 20px;
        float: left;
        width: 50%;

        text-align: justify;
    }

    #formulario h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    #formulario p {
        font-size: 1.2em;
    }
}